<form class="row g-3" action="/index" method="POST">
  <div class="col-md-6">
    <label for="First_name" class="form-label">First Name</label>
    <input type="text" class="form-control" id="inputEmail4" placeholder="First name" name="firstname">
  </div>
  <div class="col-md-6">
    <label for="Last_name" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputEmail4" placeholder="Last name"  name="lastname">
  </div>
  <div class="col-md-6">
    <label for="Phone_num" class="form-label">Phone Number</label>
    <input type="number" class="form-control" id="inputEmail4" placeholder="91XXXXXXX"  name="phone">
  </div>
  <div class="col-md-6">
    <label for="age" class="form-label">Age</label>
    <input type="Number" class="form-control" id="inputEmail4"  name="age">
  </div>
    <div class="col-md-6">
    <label for="Gender" class="form-label">Gender</label>
    <select id="inputState" class="form-select"  name="gender">
      <option selected>Choose...</option>
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="Email" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4"  name="email" placeholder="Mks@gmail.com">
  </div>
  <div class="col-md-6">
    <label for="Password" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4"  name="password">
  </div>
  <div class="col-md-6">
    <label for="Confirm_password" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="inputPassword4"  name="confirmpassword">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary" value="index">Register</button>
  </div>
</form>
