<form class="row g-4" action="/register" method="POST">
  <div class="col-md-8">
    <label for="Email" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4"  name="email" placeholder="Mks@gmail.com">
  </div>
  <div class="col-md-8">
    <label for="Password" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4"  name="password">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary" value="register">Sign in</button>
  </div>
</form>
